*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;}
body{
    background-color: #EDF2F8;
}
.pdcard{
    justify-content: space-between;
    text-align: center;
}
.jt-content{
    column-gap: 20px;
}
.bg-blue{
    background-color: rgb(98, 98, 238);
}
.container a{

    font-size: 17px;}

.container i{
    font-size: 17px;
}
.mini-icon{
    position: relative;
}
.icon-mini{
    position: absolute;
    top: -14px;
    right: -8px;
    background-color: #dc3545;
    border-radius: 50%;
    width: 24px;
    height: 23px;
    align-items: center;
    text-align: center;
    color: #fff;
}
.cart-login i{
    padding-right: 10px;
    font-size: 48px;
    
}
.conlist .card:hover{
    color: rgb(55, 55, 243);
    cursor: pointer;
    border: 3px solid rgb(95, 95, 95);
}
.bg-blue-sea{
    background-color: rgb(37, 37, 233);
}
.deal{
    padding: 10px 0;
    margin: 10px auto;
}
.deal-1{
    justify-content: space-between;
}
.prew, .prew-next{
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
.rounded-flexing{
    border-radius: 50%;
    /* width: 20px;
    height: 20px; */
}
.prew-next{
    right: -1%;
}
.prew{
    left: -1%;
}
.bg-blue-sea-1{
    background-color: rgb(79, 79, 250);
}
.fnw-25{
    font-size: 25px;
    font-weight: bold;
}
.deal-2 i{
    font-size: 30px;
}
.h-80{
    height: 600px !important;
}
.point-t{
    cursor: pointer;
}
.fsz-18{
    font-size: 12px;
    padding: 14px;
    color: rgb(88, 88, 88);
    text-decoration-line: line-through;

}
.tx-center{
    text-align: center;
}
.price-product{
    color: #dc3545;
}
.sale-25{
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #35dc5f;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    color: #fff;
}
.bd-1{
    border: 2px solid #ccc;
}
.swiper {
    width: 301px;
    height: 425px;
  }
.date{
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #fff;
    width: 35px;
    height: 50px;
    /* align-items: center; */
    text-align: center;
    color: #000;
    border-radius: 15%;
}
.mini-text{
    color: rgb(116, 114, 114);
    font-size: 13px;
}
.cl-blue{
    color: rgb(43, 141, 233);
}
.footer-info-support{
    border-bottom: 10px solid rgb(79, 79, 250);
}

.text-start a{
    color: #000;
    text-decoration: none;
}
.color-white{
    color: #fff;
}
.input-infor-footer{
    border-radius: 15%;
}
a{
    color: #000;
    text-decoration: none;
}
.font-size-10{
    font-size: 13px;
}
.w-76{
    width: 500px;
}